<ion-header>
  <ion-navbar color="appbg">
    <ion-title>Upcoming</ion-title>
    <ion-buttons end showWhen="ios,iphone">
      <button ion-button icon-only (click)="addNewTask()" color="apppink">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list *ngIf="upcommingTasks?.length>0">
    <ion-list-header>
      <div class="today--header">
        <span>Today </span>
        <span>{{todayDate | date:'EE dd LLL'}}</span>
      </div>
    </ion-list-header>
    <ion-item-sliding *ngFor="let task of upcommingTasks; let idx = index">
      <ion-item>
        <!-- <h3>{{task.title}}</h3> -->
        {{task.description}}
        <!-- <p>{{task.project}}</p>
        <p>{{task.due_date}}</p> -->
        <!-- <p *ngIf="task.condition == 'overdue'">{{task.condition}}</p> -->
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="changeStatus(idx,task)">Completed</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom *ngIf="upcommingTasks?.length>0">
    <button ion-fab color="appbg" (click)="addNewTask()" showWhen="android,core,windows,mobileweb" hideWhen="ios">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div class="notasks-container" *ngIf="upcommingTasks?.length==0" padding>
    <div>To start adding new tasks, tap the button below</div>

    <button ion-button round (click)="addNewTask()" color="appgreen">Add a new task</button>
  </div>
</ion-content>