<ion-header>
  <ion-navbar color="appbg">
    <ion-title>Upcoming</ion-title>
    <ion-buttons end showWhen="ios,iphone">
      <button ion-button icon-only (click)="addNewTask()" color="apppink">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list *ngIf="upcommingTasks?.length>0">
    <ion-list-header>
      <div class="today--header">
        <span>Today </span>
        <span>{{todayDate | date:'EE dd LLL'}}</span>
      </div>
    </ion-list-header>
    <ion-item-sliding *ngFor="let task of upcommingTasks; let idx = index">
      <ion-item>
        <h2>{{task.title}}</h2>
        <h3>{{task.description}}</h3>
        <p class='item-bottom-container'>
          <span *ngIf="task.due_date">
            <ion-icon name="alarm"></ion-icon> {{task.due_date | date:'hh:mm aa'}}&nbsp; &nbsp;
          </span>
          <span>
            <ion-badge color="appgreen">WORK</ion-badge>&nbsp; &nbsp;
            <ion-badge color="apppink" *ngIf="task.condition=='overdue'">{{task.condition}}</ion-badge>
          </span>

        </p>

        <!-- <ion-chip>
          <ion-icon name="alarm"></ion-icon>
          <ion-label>{{task.due_date | date:'hh:mm aa'}}</ion-label>
        </ion-chip> -->
      </ion-item>

      <ion-item-options side="left">
        <button ion-button (click)="changeStatus(idx,task)" color="appgreen">Done</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <ion-fab right bottom *ngIf="upcommingTasks?.length>0">
    <button ion-fab color="appbg" (click)="addNewTask()" showWhen="android,core,windows,mobileweb" hideWhen="ios">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div class="notasks-container" *ngIf="upcommingTasks?.length==0" padding>
    <div>To start adding new tasks, tap the button below</div>

    <button ion-button round (click)="addNewTask()" color="appgreen">Add a new task</button>
  </div>
</ion-content>