page-home {
    ion-badge{
        padding:5px 11px !important;
        font-size:1.1rem !important;
        text-transform: uppercase;
    }
    .notasks-container {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 40%;
        left: 50%;
        width: 90%;
        text-align: center;
        div {
            font-size: 1.7rem;
        }
        button {
            margin-top: 3rem;
        }
    }
    .list-header-ios{
        text-transform: none;
    }
    .list-header span:nth-child(1){
        font-weight:700;
        color:map-get($map: $colors, $key:appgreen )
    }
    .list-header span:nth-child(2){
        font-weight:400;
        color:#777777;
    }
    // .item-bottom-container{
    //     display:flex;
    //     justify-content: space-between;
    // }
}