page-home {
    .notasks-container {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 40%;
        left: 50%;
        width: 90%;
        text-align: center;
        div {
            font-size: 1.7rem;
        }
        button {
            margin-top: 3rem;
        }
    }
}